{% extends 'base.html' %}
{% block content %}
{{ super() }}
<div class="box-wrap">
    <header role="banner" id="fh5co-header">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="row">
                    <div class="col-md-3">
                        <div class="fh5co-navbar-brand">
                            <a class="fh5co-logo" href="/">Ave Maria</a>
                        </div>
                    </div>
                    <div class="col-md-9 main-nav">
                        <ul class="nav text-right">
                            <li><a href="/"><span>Главная</span></a></li>
                            <li><a href="/services">Обслуживание</a></li>
                            <li class="active"><a href="/product">Продукция</a></li>
                            <li><a href="/about">о нас</a></li>
                            <li><a href="/contact">связь</a></li>
                            <li>
                                <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                {{ check_authenticated(name)[0] }}
                                </a>
                            </li>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                <p><a href="{{check_authenticated(name)[-2]}}">{{check_authenticated(name)[0]}}</a>
                                <p><a href="{{check_authenticated(name)[-1]}}">{{check_authenticated(name)[1]}}</a>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</div>

<div class="product-content">

{% for p in range(products | length) %}
<div class="el-container animate-box" data-animate-effect="fadeIn">

    <a href="{{ url_for('show_product', alias=products[p][7])}}"><img class="el-img-front" src="\static\images\productImg\{{products[p][8]}}"></a>

    <div class="el-snippet">
        
        <p class="el-name"><a class="url_name" href="{{ url_for('show_product', alias=products[p][7])}}">{{products[p][1]}}</a></p>
        <p class="el-description">{{ products[p][3] }}</p>
        <p class="el price">
            <span class="priceValue">{{products[p][6]}}</span>
            <span>р.</span>
            <span class="el-unit">/шт</span>
        </p>
        <form action="{{ url_for('show_product', alias=products[p][7])}}">
            <div class="el-more-info">
                <button type="submit" class="btn-more-info">Подробнее</button>
            </div>
        </form>

        <input type="hidden" id="user_id" value="{{ current_user.get_id() }}">
        <button class="btn-add-to-cart addToCart" data-product-id="{{p}}">Купить</button>
    </div>
</div>

{% endfor %}
</div>
{% endblock %}